<?xml version="1.0" encoding="utf-8"?>
<!-- Bake Your Way is fully offline: no permissions are requested, in particular no INTERNET. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".BakeApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BakeYourWay">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
